<% page_title "Administration / User Browser" %>
<% @toolbar_title = "List Users" %>

<% content_for :toolbar_links do %>
  <%= link_to(span_tag("ADD USER"), new_cms_user_path,
    :id => "add_user_button",
    :class => "button") %>
<% end %>

<% content_for :functions do %>
  <%= render(:partial => "toolbar") %>
<% end %>

<table class="data">
  <thead>
    <tr>
      <th class="first">Name</th>
      <th>Email</th>
      <th>Groups</th>
      <th>Expiration</th>
      <th>Activation</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
      <tr>
        <td class="first"><%= link_to "#{user.full_name_or_login}", edit_cms_user_path(user) %></td>
        <td><%= link_to user.email, "mailto:#{user.email}" %></td>
        <td>
          <% user.groups.all(:order => "groups.name").each do |g| %>
            <%= g.name %><br/>
          <% end %>
        </td>
        <td><%= user.expires_at ? format_date(user.expires_at) : "Never" %></td>
        <td>
          <% unless user.expired? %>
            <span class="user_state">Active</span>
            <%= link_to("<span>Disable</span>", [:disable, :cms, user], :class => "http_put sm_button") if @users.size > 1 %>
          <% else %>
            <span class="user_state">Inactive</span>
            <%= link_to("<span>Enable</span>", [:enable, :cms, user], :class => "http_put sm_button") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @users.size == 0 && params[:key_word]%>
  <div class="pagination">No results found for '<%= params[:key_word] %>'</div>
<% elsif @users.total_pages > 1 %>
  <%= render_pagination @users, :users %>
<% end %>

