<% page_title "Rails Routes" %>
<% content_for :functions do %>
  <h1><%=h page_title %></h1>
<% end %>

<div style="margin: 10px 0">
  <% form_tag cms_routes_path, :method => :get do %>
    <label>
      Path to Test: <%= text_field_tag :path, @path, :size => 50 %>
    </label>
    <% unless @route.blank? %>
      <div style="margin: 10px 0">
        <%=h @route.inspect %>
      </div>
    <% end %>
  <% end %>
</div>

<table class="data">
  <thead>
    <tr>
      <th class="first">Name</th>
      <th>Verb</th>
      <th>Pattern</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% for route in @routes %>
      <tr>
        <td class="first"><%=h route[:name] %></td>
        <td><%=h route[:verb] %></td>
        <td><%=h route[:segs] %></td>
        <td><%=h route[:reqs] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
