<% content_for :html_head do %>
    <%= stylesheet_link_tag "cms/content_library" %>
    <% javascript_tag do %>
      jQuery(function($){
        $('#block_content .header').html("Content tagged with '<%= escape_javascript(h(@content_block.name)) %>'")
      })
    <% end %>
<% end %>
<div class="pad">
  <table class="data">
    <thead>
      <tr>
        <th class="name first">Name
        </th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% for tg in @taggings %>
        <tr>
          <td class="name first">
            <%= link_to h(tg.taggable.name), [:cms, tg.taggable] %>
          </td>
          <td class="name">
            <%=h tg.taggable.display_name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if @taggings.total_pages > 1 %>
  <%= render_pagination @taggings, :tag, {:id => @content_block} %>
<% end %>