<% page_title "Administration / Group Browser" %>
<% @toolbar_title = "List Groups" %>

<% content_for :functions do %>
  <%= link_to(span_tag("Add Group"), new_cms_group_path,
    :id => "new_group_button", :class => "button") %>
<% end %>

<table class="data">
  <thead>
    <tr>
      <th class="first">
        <%= link_to "Name", cms_groups_path(:order => determine_order(params[:order], "groups.name")) %>
      </th>
      <th>
        <%= link_to "Type", cms_groups_path(:order => determine_order(params[:order], "group_types.name")) %>
      </th>
      <th>Permissions</th>
    </tr>
  </thead>
  <% section_count = Section.count %>
  <% @groups.each do |g| %>
    <tr>
      <td>
        <%= link_to h(g.name), [:edit, :cms, g] %>
      </td>
      <td>
        <%= h(g.group_type.name) %>
      </td>
      <td>
        <% g.permissions.uniq.each do |p| %>
          - <%= p.full_name %> <br />
        <% end %>
        - <%= g.cms_access? ? "Edit" : "View" %>
        <%= g.sections.count >= section_count ? "All Sections" : "#{g.sections.count} of #{section_count} Sections" %>
      </td>
    </tr>
  <% end %>
</table>

<% if @groups.total_pages > 1 %>
  <%= render_pagination @groups, :groups %>
<% end %>
