<div class="dashboard_unit" id="tasks">
  <h2 class="left">Tasks</h2>

  <% form_tag complete_cms_tasks_path, :method => :put do %>
    <table class="data">
      <thead>
        <tr>
          <th class="first">Name</th>
          <th class="assigned_by">Assigned By</th>
          <th class="due_date">Due Date</th>
        </tr>
      </thead>
      <tbody>
        <% if @incomplete_tasks.empty? %>
          <tr>
            <td colspan="3" style="letter-spacing: 1px; line-height: 30px;">
              You currently have no assigned tasks.
            </td>
          </tr>
        <% else %>
          <% @incomplete_tasks.each do |task| %>
            <tr>
              <td class="select first">
                <%= check_box_tag "task_ids[]", task.id, false, :id => "complete_task_#{task.id}" %>
              </td>
              <td class="name">
                <%= link_to h(task.page.name_with_section_path), task.page.path %>
              </td>
              <td class="assigned_by">
                <%=h task.assigned_by.login %>
              </td>
              <td class="due_date"><%= task.due_date ? task.due_date.strftime("%b %d") : nil %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="3"><%= lt_button_wrapper(submit_tag("Complete Selected", :class => "submit")) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
